@page
@model IdeaCollector.Pages.Ideas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idea.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idea.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idea.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idea.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idea.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idea.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Idea.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Idea.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Idea.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
